source:
	- ./
	
destination: apidocs
templateConfig: apigen/theme-axisbuilder/config.neon
extensions:
	- php
	
exclude:
	- tmp/
	- i18n/
	- tests/
	- dummy/
	- config/
	- apigen/
	- apidocs/
	- .sass-cache/
	- node_modules/
	
charset:
	- UTF-8
	
main: AB
title: Axis Builder
baseUrl: http://docs.axisthemes.com/apidocs/axis-builder/
templateTheme: default
php: false
sourceCode: true
tree: true
deprecated: true
todo: true
download: true
