/**
 * _flex-grid.scss
 * AxisComposer Flexible Grid
 */
.layout-flex-grid {

	/* Columns */
	.ac_one_full {
		width: 98%;
	}
	.ac_one_half {
		width: 48%;
	}
	.ac_one_third {
		width: 31.3%;
	}
	.ac_two_third {
		width: 64.6%;
	}
	.ac_one_fourth {
		width: 23%;
	}
	.ac_three_fourth {
		width: 73%;
	}
	.ac_one_fifth {
		width: 18%;
	}
	.ac_two_fifth {
		width: 38%;
	}
	.ac_three_fifth {
		width: 58%;
	}
	.ac_four_fifth {
		width: 78%;
	}
}

.layout-flex-grid,
.ac-backbone-modal {

	/* Cells */
	.ac_cell_one_full {
		width: 100%;
	}
	.ac_cell_one_half {
		width: 50%;
	}
	.ac_cell_one_third {
		width: 33.3%;
	}
	.ac_cell_two_third {
		width: 66.6%;
	}
	.ac_cell_one_fourth {
		width: 25%;
	}
	.ac_cell_three_fourth {
		width: 75%;
	}
	.ac_cell_one_fifth {
		width: 20%;
	}
	.ac_cell_two_fifth {
		width: 40%;
	}
	.ac_cell_three_fifth {
		width: 60%;
	}
	.ac_cell_four_fifth {
		width: 80%;
	}
}
