/**
 * _fonts.scss
 * Custom AxisComposer fonts.
 */
@font-face {
	font-family: 'AxisComposer';
	src: url('../fonts/AxisComposer.eot');
	src: url('../fonts/AxisComposer.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AxisComposer.woff') format('woff'),
		url('../fonts/AxisComposer.ttf') format('truetype'),
		url('../fonts/AxisComposer.svg#AxisComposer') format('svg');
	font-weight: normal;
	font-style: normal;
}
