/**
 * _modal.scss
 * Backbone Modal Dialog
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

body .axisbuilder-hidden {
	display: none;
}

.axisbuilder-backbone-modal {
	* {
		box-sizing: border-box;
	}

	.axisbuilder-backbone-modal-content {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 500px;
		background: #fff;
		z-index: 100000;
	}
}

.axisbuilder-backbone-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 99900;
}

.axisbuilder-backbone-modal-main {
	padding-bottom: 51px;

	header,
	article {
		display: block;
		position: relative;
	}

	.axisbuilder-backbone-modal-header {
		height: 50px;
		background: #fcfcfc;
		padding: 0 50px 0 16px;
		border-bottom: 1px solid #ddd;

		h1 {
			margin: 0;
			font-size: 18px;
			font-weight: 700;
			line-height: 50px;
		}

		.modal-close-link {
			cursor: pointer;
			color: #777;
			height: 50px;
			width: 50px;
			padding: 0;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			border: 0;
			border-left: 1px solid #ddd;
			background-color: transparent;
			-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
			transition: color .1s ease-in-out,background .1s ease-in-out;

			&:before {
				font: normal 22px/50px 'dashicons' !important;
				color: #666;
				display: block;
				content: '\f335';
				font-weight: 300;
			}

			&:hover,
			&:focus {
				background: #ddd;
				border-color: #ccc;
				color: #000;
			}

			&:focus {
				outline: none;
			}
		}
	}

	article {
		padding: 10px 16px;

		form {
			height: 100%;

			.message {
				padding: 16px 0;
				text-align: center;
			}

			.pagination {
				padding: 10px 0 0;
				text-align: center;
			}

			.ajax-connect {
				height: 100%;
			}
		}

		mark {
			background: transparent none;
		}

		mark.no {
			color: $red;
		}

		mark.yes {
			color: $green;
		}

		mark.info {
			color: $blue;
		}
	}

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		padding: 10px 16px;
		background: #fcfcfc;
		border-top: 1px solid #dfdfdf;
		box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);

		.inner {
			float: right;
			line-height: 23px;

			.button {
				margin-bottom: 0;
			}
		}
	}
}

/**
 * Modal Screen styles
 */
.axisbuilder-backbone-modal {

	.high-screen,
	.normal-screen,
	.medium-screen {
		article {
			padding: 0;
		}
	}

	.high-screen {
		width: 1100px;
		article {
			height: 470px !important;
		}
	}

	.medium-screen {
		width: 1000px;
		article {
			height: 450px !important;
		}
	}

	.normal-screen {
		width: 900px;
		article {
			height: 430px !important;
		}
	}
}

/**
 * Enhanced Form Styles
 */
.axisbuilder-enhanced-form {

	.field-container {
		clear: both;
		background: #fff;
		padding: 18px 20px;
		position: relative;
		border-bottom: 1px dashed #e1e1e1;

		p {
			color: #777;
		}

		&:hover {
			background: #fcfcfc;
		}

		.field-label {
			width: 49%;
			float: right;

			> strong {
				display: block;
			}

			> span,
			> label {
				color: #777;
				display: block;
				margin-bottom: 4px;
			}
		}

		.field-element {
			width: 49%;
			float: left;

			> textarea {
				width: 100%;
				height: 175px;
				resize: vertical;

				&.pre,
				&.code {
					color: #999;
					padding: 15px;
					font: 13px $helvetica;

					&:focus {
						color: #555;
					}
				}
			}
		}
	}

	.field-checkbox {
		position: relative;

		.field-label {
			width: 100%;

			> span,
			> label {
				padding-left: 25px;
			}
		}

		.field-element {
			top: 37px;
			width: 30px;
			position: absolute;
		}
	}

	.field-tinymce,
	.field-fullwidth {
		.field-label,
		.field-element {
			float: none;
			width: 100%;
		}
	}

	.field-image,
	.field-gallery,
	.field-multi_image {
		.button {
			top: 17px;
			width: 175px;
			position: absolute;
			text-align: center;
		}
	}

	.wp-picker-container {
		width: 100%;
		position: relative;

		.wp-color-result,
		.wp-picker-input-wrap input {
			height: 29px;

			&:focus {
				box-shadow: none;
			}
		}

		.wp-color-result {
			overflow: hidden;
			white-space: nowrap;

			&:after {
				line-height: 27px;
			}
		}

		.wp-picker-clear {
			width: 65px;
		}

		.wp-picker-holder {
			z-index: 1000;
			position: absolute;

			.iris-picker {
				box-shadow: 0 1px 15px rgba(0,0,0,0.2);
			}
		}
	}
}
