/**
 * _modal.scss
 * Backbone Modal Dialog
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

.ac-backbone-modal {
	* {
		box-sizing: border-box;
	}

	.ac-backbone-modal-content {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 500px;
		background: #fff;
		z-index: 100000;
	}
}

.ac-backbone-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 99900;
}

.ac-backbone-modal-main {
	padding-bottom: 51px;

	header,
	article {
		display: block;
		position: relative;
	}

	.ac-backbone-modal-header {
		height: 50px;
		background: #fcfcfc;
		padding: 0 50px 0 16px;
		border-bottom: 1px solid #ddd;

		h1 {
			margin: 0;
			font-size: 18px;
			font-weight: 700;
			line-height: 50px;
		}

		.modal-close-link {
			cursor: pointer;
			color: #777;
			height: 50px;
			width: 50px;
			padding: 0;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			border: 0;
			border-left: 1px solid #ddd;
			background-color: transparent;
			-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
			transition: color .1s ease-in-out,background .1s ease-in-out;

			&:before {
				font: normal 22px/50px 'dashicons' !important;
				color: #666;
				display: block;
				content: '\f335';
				font-weight: 300;
			}

			&:hover,
			&:focus {
				background: #ddd;
				border-color: #ccc;
				color: #000;
			}

			&:focus {
				outline: none;
			}
		}
	}

	article {
		padding: 10px 16px;

		form {
			height: 100%;

			.message {
				padding: 16px 0;
				text-align: center;
			}

			.pagination {
				padding: 10px 0 0;
				text-align: center;
			}

			.ajax-connect {
				height: 100%;
			}
		}

		mark {
			background: transparent none;
		}

		mark.no {
			color: $red;
		}

		mark.yes {
			color: $green;
		}

		mark.info {
			color: $blue;
		}
	}

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		padding: 10px 16px;
		background: #fcfcfc;
		border-top: 1px solid #dfdfdf;
		box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);

		.inner {
			float: right;
			line-height: 23px;

			.button {
				margin-bottom: 0;
			}
		}
	}
}

/**
 * Modal Screen styles
 */
.ac-backbone-modal {

	.high-screen,
	.normal-screen,
	.medium-screen {
		article {
			padding: 0;
		}
	}

	.high-screen {
		width: 1100px;
		article {
			height: 470px !important;
		}
	}

	.medium-screen {
		width: 1000px;
		article {
			height: 450px !important;
		}
	}

	.normal-screen {
		width: 900px;
		article {
			height: 430px !important;
		}
	}
}

/**
 * Enhanced Form Styles
 */
.ac-enhanced-form {

	table.form-table {
		border-bottom: 1px solid transparent;

		tr {
			border-bottom: 1px dashed #e1e1e1;

			th {
				padding: 24px;
				padding-left: 16px;
			}

			th, td {
				label {
					font-size: 13px;
					vertical-align: top;
				}
			}

			&.full-width {
				td {
					padding: 15px 16px;
					label {
						font-weight: 600;
					}
				}
			}

			&:hover {
				background: #fcfcfc;
			}

			&:last-child {
				p.description {
					margin-bottom: 28px;
				}
			}
		}
	}

	.wp-picker-container {
		position: relative;

		.wp-color-result,
		.wp-picker-input-wrap input {
			height: 29px;

			&:focus {
				box-shadow: none;
			}
		}

		input.wp-color-picker {
			width: 100px !important;
		}

		.wp-color-result {
			overflow: hidden;
			white-space: nowrap;
			margin: 0 6px 0 0;
			border-radius: 0;

			&:after {
				line-height: 27px;
				border-radius: 0;
			}
		}

		.wp-picker-clear {
			width: 65px;
		}

		.wp-picker-holder {
			z-index: 1000;
			position: absolute;

			.iris-picker {
				box-shadow: 0 1px 15px rgba(0,0,0,0.2);
			}
		}
	}

	.ac-iconfont-container {
		width: 97%;
		height: 224px;
		overflow: hidden;
		overflow-y: scroll;
		border: 1px solid #ddd;

		.ac-iconfont-label {
			clear: both;
			color: #666;
			padding: 10px;
			background: #fdfdfd;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;

			&:first-child {
				border-top: 0;
			}
		}

		.ac-iconfont-lists {
			float: left;
			margin-top: -1px;
			position: relative;

			.ac-icon-holder {
				float: left;
				width: 1.5em;
				color: #494949;
				display: block;
				cursor: pointer;
				font-size: 30px;
				background: #fff;
				text-align: center;
				position: relative;
				line-height: 1.5em;
				margin: 0 0 -1px -1px;
				border: 1px solid #e1e1e1;
				@include transition(all .1s ease-out);

				&:hover {
					z-index: 3;
					color: $blue;
					@include transform( scale(1.3) );
				}
			}

			.ac-icon-active,
			.ac-icon-active:hover {
				color: #d54e21;
			}
		}
	}

	button.insert-media {
		width: 105px;
	}
}
