/**
 * _modal.scss
 * Backbone Modal Dialog
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

.axisbuilder-backbone-modal {
	* {
		box-sizing: border-box;
	}

	.axisbuilder-backbone-modal-content {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 500px;
		background: #fff;
		margin: 0 0 0 -250px;
		z-index: 160000;
	}
}

.axisbuilder-backbone-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 159900;
}

.axisbuilder-backbone-modal-main {
	padding-bottom: 51px;

	header,
	article {
		display: block;
		position: relative;
		padding: 4px 16px;
	}

	.axisbuilder-backbone-modal-header {
		background: #fcfcfc;
		border-bottom: 1px solid #ddd;

		h1 {
			font-size: 16px;
			font-weight: 700;
			line-height: 42px;
			margin: 0;
		}
	}

	.modal-close-link {
		cursor: pointer;
		color: #777;
		background-color: transparent;
		height: 50px;
		width: 50px;
		padding: 0;
		position: absolute;
		text-align: center;
		border: 0;
		border-left: 1px solid #ddd;
		-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
		transition: color .1s ease-in-out,background .1s ease-in-out;
		top: 0;
		right: 0;
		text-decoration: none;

		&:hover {
			background: #ddd;
			border-color: #ccc;
			color: #000;
			outline: 0;
			text-decoration: none;
		}

		.close-icon {
			display: block;
			height: 15px;
			background-image: none;
			text-align: center;
			margin: 14px;
			width: 22px;

			&:before {
				content: '\f335';
				font-size: 22px;
				font: 400 20px/1 dashicons;
				speak: none;
				vertical-align: middle;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #666;
			}
		}
	}

	article {
		padding: 10px 16px;

		.message {
			padding: 16px 0;
			text-align: center;

			mark {
				background: transparent none;
			}

			mark.yes {
				color: $green;
			}

			mark.no {
				color: $red;
			}
		}

		.pagination {
			padding: 10px 0 0;
			text-align: center;
		}
	}

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		padding: 10px 16px;
		background: #fcfcfc;
		border-top: 1px solid #dfdfdf;
		box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);

		.inner {
			float: right;
			line-height: 23px;

			.button {
				margin-bottom: 0
			}
		}
	}
}

/**
 * Screen styles
 */
.axisbuilder-backbone-modal {

	.ajax-connect {
		article {
			height: 410px;
		}
	}

	.high-screen,
	.normal-screen,
	.medium-screen {
		width: auto;
		margin-left: 0;
	}

	.high-screen {
		left: 5%;
		right: 5%;

		&.ajax-connect {
			article {
				height: 470px;
			}
		}
	}

	.medium-screen {
		left: 10%;
		right: 10%;

		&.ajax-connect {
			article {
				height: 450px;
			}
		}
	}

	.normal-screen {
		left: 15%;
		right: 15%;

		&.ajax-connect {
			article {
				height: 430px;
			}
		}
	}
}
