/**
 * _modal.scss
 * Backbone Modal Dialog
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

.axisbuilder-backbone-modal {
	* {
		box-sizing: border-box;
	}

	.axisbuilder-backbone-modal-content {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 500px;
		background: #fff;
		margin-left: -250px;
		z-index: 160000;
	}
}

.axisbuilder-backbone-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 159900;
}

.axisbuilder-backbone-modal-main {
	padding-bottom: 50px;

	header,
	article {
		display: block;
		position: relative;
	}

	.axisbuilder-backbone-modal-header {
		height: 50px;
		background: #fcfcfc;
		padding: 0 50px 0 16px;
		border-bottom: 1px solid #ddd;

		h1 {
			margin: 0;
			font-size: 18px;
			font-weight: 700;
			line-height: 50px;
		}

		.modal-close-link {
			cursor: pointer;
			color: #777;
			height: 50px;
			width: 50px;
			padding: 0;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			border: 0;
			border-left: 1px solid #ddd;
			background-color: transparent;
			-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
			transition: color .1s ease-in-out,background .1s ease-in-out;

			&:before {
				font: normal 22px/50px 'dashicons' !important;
				color: #666;
				display: block;
				content: '\f335';
				font-weight: 300;
			}

			&:hover,
			&:focus {
				background: #ddd;
				border-color: #ccc;
				color: #000;
			}

			&:focus {
				outline: none;
			}
		}
	}

	article {
		padding: 10px 16px;

		.pagination {
			padding: 10px 0 0;
			text-align: center;
		}
	}

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		padding: 10px 16px;
		background: #fcfcfc;
		border-top: 1px solid #dfdfdf;
		box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);

		.inner {
			float: right;
			line-height: 23px;

			.button {
				margin-bottom: 0;
			}
		}
	}
}

/**
 * Screen styles
 */
.axisbuilder-backbone-modal {

	.high-screen,
	.normal-screen,
	.medium-screen {
		width: auto;
		margin-left: 0;

		article {
			padding: 0;
		}
	}

	.high-screen {
		left: 5%;
		right: 5%;

		article {
			height: 470px !important;
		}
	}

	.medium-screen {
		left: 10%;
		right: 10%;

		article {
			height: 450px !important;
		}
	}

	.normal-screen {
		left: 15%;
		right: 15%;

		article {
			height: 430px !important;
		}
	}
}

/**
 * Message Styles
 */
.axisbuilder-backbone-modal-main {

	article {

		.message {
			padding: 16px 0;
			text-align: center;

			mark {
				background: transparent none;
			}

			mark.yes {
				color: $green;
			}

			mark.no {
				color: $red;
			}
		}
	}
}

/**
 * Enhanced Form Styles
 */
.axisbuilder-enhanced-form {

	.wp-picker-container {
		width: 100%;
		position: relative;

		.wp-color-result,
		.wp-picker-input-wrap input {
			height: 29px;

			&:focus {
				box-shadow: none;
			}
		}

		.wp-color-result {
			overflow: hidden;
			white-space: nowrap;

			&:after {
				line-height: 27px;
			}
		}

		.wp-picker-clear {
			width: 65px;
		}

		.wp-picker-holder {
			z-index: 1000;
			position: absolute;

			.iris-picker {
				box-shadow: 0 1px 15px rgba(0,0,0,0.2);
			}
		}
	}
}

/**
 * Base Styles
 * @todo: Refactor
 */
.axisbuilder-enhanced-form {
	line-height: 1.5em;

	#{$all-text-inputs}, .input-text, textarea, select {
		color: #777;
		outline: none;
		display: inline;
		max-width: 100%;
		border-radius: 0px;
		border: 1px solid #e1e1e1;
		font: 13px $helvetica;
		@include size(95% auto);
		@include margin(0 0 5px);
		@include padding(6px 4px);
		@include appearance(none);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#{$all-text-inputs-focus}, textarea:focus, select:focus {
		color: #555;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	}

	input[type="text"]:disabled {
		color: #aaa;
		background: #f8f8f8;
		border: 1px solid #e1e1e1;
	}

	textarea {
		width: 95%;
		padding: 15px;
		height: 150px;
		box-sizing: border-box;
	}

	select {
		background-image: url(../images/icons/select.png);
		background-position: center right;
		background-repeat: no-repeat;
	}

	select[multiple] {
		padding: 6px 0px 6px 0px;
		background-image: none;
		line-height: 25px
	}

	small {
		color: #999;
		font-size: 11px;
		font-style: italic;
	}
}

// Firefox Hack
@-moz-document url-prefix() {
	.axisbuilder-style select {
		padding: 6px 6px 6px 4px;
		background-image: none;
	}
}

.axisbuilder-form-element-container {
	clear: both;
	background: #fff;
	padding: 18px 20px;
	position: relative;
	border-bottom: 1px dashed #e1e1e1;
	box-sizing: border-box;

	p {
		color: #777;
	}

	&:hover {
		background: #fcfcfc;
	}
}

.axisbuilder-name-description {
	> strong {
		display: block;
	}

	> span,
	> label {
		color: #777;
		display: block;
		margin-bottom: 4px;
	}
}

.axisbuilder-modal,
.axisbuilder-enhanced-form {

	.axisbuilder-name-description {
		width: 49%;
		float: right;
	}

	.axisbuilder-form-element {
		width: 49%;
		float: left;
	}

	/* Checkbox needs another width */
	.axisbuilder-element-checkbox {

		.axisbuilder-name-description {
			width: 100%;
		}

		.axisbuilder-form-element {
			width: 30px;
		}
	}
}

// Use full-width Styles
.axisbuilder-element-tinymce,
.axisbuilder-element-fullwidth {
	.axisbuilder-form-element,
	.axisbuilder-name-description {
		float: none;
		width: 100%;
	}
}

.wp-fullscreen-active input[type=text].wp-fullscreen-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Checkbox style
.axisbuilder-element-checkbox {
	position: relative;

	.axisbuilder-name-description {
		> span,
		> label {
			padding-left: 25px;
		}
	}

	.axisbuilder-form-element {
		top: 37px;
		position: absolute;
	}
}

// TinyMCE Form Element
.axisbuilder-style .axisbuilder-advanced-textarea {
	height: auto !important;
}

div .axisbuilder-advanced-textarea.axisbuilder-tinymce.wp-editor-area {
	bottom: -4px;
	position: relative;
	display: inline-block;
	border: none !important;
}

// Media Form Element
.axisbuilder-element-image,
.axisbuilder-element-gallery,
.axisbuilder-element-multi_image {
	.button {
		top: 17px;
		width: 175px;
		position: absolute;
		text-align: center;
	}
}
