/**
 * _variables.scss
 * AxisBuilder CSS Variables
 */
$axisbuilder:     #e14d43;
$green:           #7ad03a;
$red:             #a00;
$orange:          #ffba00;
$blue:            #2ea2cc;

// Flex Gutter
$flex-gutter: 6%;

// Color Schemes
$fresh-color:     #0073aa !default;
$light-color:     #04a4cc !default;
$blue-color:      #e1a948 !default;
$coffee-color:    #c7a589 !default;
$ectoplasm-color: #a3b745 !default;
$midnight-color:  #e14d43 !default;
$ocean-color:     #9ebaa0 !default;
$sunrise-color:   #dd823b !default;
