/**
 * admin.scss
 * General AxisComposer admin styles.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "flex-grid";
@import "variables";
@import "animation";
@import "select2";
@import "fonts";
@import "modal";

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

/**
 * Animation Styles
 */
.modal-animation {
	@include animation( modal .3s $ease-out-back );
}

/**
 * Toggle Editor Button
 */
.axiscomposer-toggle-editor {
	z-index: 1001;
	position: relative;
	margin-top: 5px !important;

	&:active, &:focus {
		box-shadow: none !important;
	}
}

/**
 * Hide Screen Option
 */
label[for="axiscomposer-pagebuilder-hide"] {
	display: none;
}

/**
 * Hide Default Editor
 */
#postdivrich_wrap.ac-hidden-editor #postdivrich {
	display: none;
}

/**
 * Message Styles
 */
.axiscomposer-message {
	overflow: hidden;
	position: relative;
	border-left-color: #2ea2cc !important;

	a.button-primary,
	a.button-secondary {
		text-decoration: none !important;
	}

	.twitter-share-button {
		margin-left: 3px;
		margin-top: -3px;
		vertical-align: middle;
	}
}

/**
 * Tabbed Panels
 */
#axiscomposer-pagebuilder,
#axiscomposer-portfolio-data,
.axiscomposer {
	.panel-wrap {
		overflow: hidden;
	}

	ul.ac-tabs {
		margin: 0;
		float: left;
		line-height: 1em;
		position: relative;
		background-color: #fafafa;
		box-sizing: border-box;

		li {
			margin: 0;
			padding: 0;
			position: relative;

			a {
				margin: 0;
				padding: 10px;
				display: block;
				box-shadow: none;
				text-decoration: none;
				line-height: 20px !important;

				&:before {
					font-size: 16px;
					vertical-align: text-bottom;
					@include iconbefore( "\e005" );
				}
			}

			&.layout_options {
				a:before {
					content: "\e002";
				}
			}

			&.content_options {
				a:before {
					content: "\e003";
				}
			}

			&.media_options {
				a:before {
					content: "\e004";
				}
			}

			&.plugin_options {
				a:before {
					content: "\e005";
				}
			}

			&.active {
				a {
					color: #555;
					position: relative;
					background-color: #eee;
				}
			}
		}

		&.vertical {
			width: 20%;
			padding: 0 0 10px;
			border-right: 1px solid #eee;

			&:after {
				content: "";
				width: 100%;
				height: 9999em;
				display: block;
				position: absolute;
				bottom: -9999em;
				left: 0;
				background-color: #fafafa;
				border-right: 1px solid #eee;
			}

			li {
				display: block;

				a {
					border-bottom: 1px solid #eee;
				}
			}
		}

		&.horizontal {
			width: 100%;
			padding: 15px 12px 0;
			border-bottom: 1px solid #ddd;

			li {
				top: 1px;
				display: inline-block;
				border-bottom: 1px solid #ddd;

				a {
					color: #999;
					background-color: #fdfdfd;
					border-top: 1px solid #ddd;
					border-right: 1px solid #ddd;

					&:hover,
					&:focus {
						background-color: #f7f7f7;
					}
				}

				&:first-child {
					a {
						border-left: 1px solid #ddd !important;
					}
				}

				&.active {
					border-bottom: 0;

					a {
						color: #777;
						height: 21px;
						background-color: #fff;
					}

					&:after {
						position: absolute;
						top: 0;
						left: -1px;
						right: 0;
						height: 3px;
						content: "";
						background-color: $fresh-color;
					}

					&:first-child {
						&:after {
							left: 0;
						}
					}
				}
			}
		}
	}
}

#axiscomposer-pagebuilder,
#axiscomposer-portfolio-data {
	.inside {
		margin: 0;
		padding: 0;
	}
}

.axiscomposer_options_panel,
.panel {
	padding: 9px;
	color: #555;

	.form-field {
		.axiscomposer-help-tip {
			font-size: 1.4em;
		}
	}
}

/**
 * Page Builder Meta-Box
 */
#axiscomposer-pagebuilder {
	display: block !important;

	textarea {
		color: #777;
		height: 150px;
		padding: 15px;
		font: 13px $helvetica;

		&:focus {
			color: #555;
		}
	}

	.axiscomposer-options-panel {
		clear: both;
		display: none;
		overflow: hidden;
		position: relative;
		padding: 4px 12px 9px;
		background-color: #fff;
		@include user-select();
	}

	/**
	 * Handle Bar
	 */
	#axiscomposer-handle {
		z-index: 8;
		width: 100%;
		height: 40px;
		display: block;
		color: #7b7b7b;
		background: #fafafa;
		border-top: 1px solid #eee;

		&:hover {
			z-index: 12;
		}

		.control-bar {
			height: 28px;
			padding: 6px;
			margin: 0 auto;
		}

		.history-sections {
			float: left;

			.history-action,
			.delete-action {
				float: left;
				padding: 6px;

				a {
					box-shadow: none;
					text-decoration: none;
				}
			}

			.history-action {

				.undo-icon,
				.redo-icon {
					@include ir();
					color: #7b7b7b;
					font-size: 16px;

					&:hover {
						color: #2ea2cc;
					}

					&.inactive-history {
						opacity: 0.5;
						color: #7b7b7b;
					}
				}

				.undo-icon {
					float: left;

					&:before {
						@include icon( "\e007" );
					}
				}

				.redo-icon {
					float: right;
					margin-left: .5em;
					margin-right: 3px;

					&:before {
						@include icon( "\e008" );
					}
				}
			}

			.delete-action {
				border-left: 1px solid #ccc;

				.trash-icon {
					@include ir();
					color: #7b7b7b;
					font-size: 16px;
					margin-left: 3px;

					&:before {
						@include icon( "\e006" );
					}

					&:hover {
						color: #d54e21;
					}
				}
			}
		}

		.template-sections {
			float: right;
			display: none;
			padding-right: 8px;
		}
	}

	/**
	 * Editor Canvas Styles
	 */
	#axiscomposer-canvas {
		margin: 0;
		padding: 0;
		display: block;

		.canvas-area {
			right: 1px;
			width: 100%;
			float: left;
			padding: 6px 0;
			min-height: 225px;
			position: relative;
			border: 1px solid transparent;
			border-top: 1px solid #eee;

			.ac-inner-shortcode {

				textarea {
					display: none;
				}
			}
		}

		.canvas-secure-data {
			clear: both;
			visibility: hidden;

			textarea {
				margin: 0;
				width: 100%;
				resize: none;
				display: none;
				height: 250px;
				font-size: 12px;
				line-height: 20px;
				font-family: monospace;
			}
		}
	}
}

/**
 * Page Builder Postbox Classes
 */
#axiscomposer-pagebuilder {

	&.ac-hidden {
		display: none !important;
	}
}

/**
 * Shortcode Button Styles
 */
.insert-shortcode {
	cursor: move;
	height: 50px;
	width: 70px;
	border: 1px solid #e1e1e1;
	padding: 4px 2px 10px 2px;
	background: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	display: block;
	overflow: hidden;
	outline: none;
	line-height: 13px;
	float: left;
	margin: 5px 5px 0 0;
	position: relative;
	color: #777;

	&:hover {
		cursor: pointer;
		border: 1px solid #aaa;
	}

	&:active {
		border: 1px solid #D54E21;
	}

	&:focus {
		border: 1px solid #2ea2cc;
	}

	&:active, &:focus {
		box-shadow: none;
	}

	&:hover img, &:active img {
		opacity: 1;
	}

	img {
		opacity: 0.5;
		display: block;
		position: relative;
		margin: 6px auto 5px auto;
	}

	span {
		position: absolute;
		width: 88%;
		left: 6%;
		bottom: 3px;
		background: rgba(255,255,255,0.7);
		padding-top: 1px;
	}

	&.disabled-shortcode {
		opacity: 0.7;
		cursor: help;
		background-color: #fafafa;

		img {
			pointer-events: none;
		}

		span {
			background: none;
		}
	}
}

/**
 * Debug or Test-Mode Styles
 */
.ac-debug {

	#axiscomposer-canvas {

		.ac-inner-shortcode {

			textarea {
				width: 98%;
				resize: none;
				font-size: 11px;
				margin: 20px auto;
				font-family: monospace;
				display: block !important;
			}
		}

		.canvas-secure-data {
			padding: 12px;
			background: #fafafa;
			border-top: 1px solid #eee;
			visibility: visible !important;

			textarea {
				display: block !important;
			}
		}
	}

	/* Till we get Textarea down */
	.ac-layout-row .ac-layout-cell > .ac-sorthandle {
		border-top: 1px dashed #e1e1e1;
	}
}

/**
 * Drag-Drop Styles
 */
body div.ui-draggable-dragging {
	width: 240px;
}

body .ui-draggable-dragging {

	.ac-sorthandle {
		opacity: 1;
		z-index: 10;
	}

	.ac-inner-shortcode {
		height: 110px;
		overflow: hidden;
		background: #fff;
		border: 1px solid #e1e1e1;
		@include position(absolute, 0px 0px 0px 0px);

		img, div, textarea {
			visibility: hidden;
		}
	}

	.ac-cell {
		display: none;
		visibility: hidden;
	}
}

#wpwrap .ac-hover-active {
	background: #f7fff2;
	border: 1px dashed #9acf57 !important;
}

/* Drag-Drop highlight of single elements */
.ac-select-target-1.ac-drop[data-dragdrop-level="0"],
.ac-select-target-2.ac-drop[data-dragdrop-level="0"],
.ac-select-target-3.ac-drop[data-dragdrop-level="0"],
.ac-select-target-4.ac-drop[data-dragdrop-level="0"],
.ac-select-target-1 .ac-drop[data-dragdrop-level="0"],
.ac-select-target-2 .ac-drop[data-dragdrop-level="1"],
.ac-select-target-3 .ac-drop[data-dragdrop-level="2"],
.ac-select-target-3 .ac-drop[data-dragdrop-level="1"],
.ac-select-target-4 .ac-drop[data-dragdrop-level="3"],
.ac-select-target-4 .ac-drop[data-dragdrop-level="2"],
.ac-select-target-4 .ac-drop[data-dragdrop-level="1"] {
	background: #f3f8fa;
	border: 1px dashed #4d9edd !important;
}

.ac-select-target-2 .av_drop[data-dragdrop-level="1"],
.ac-select-target-3 .av_drop[data-dragdrop-level="1"],
.ac-select-target-4 .av_drop[data-dragdrop-level="1"] {
	background: #e5f3ff;
}

.ac-select-target-3 .av_drop[data-dragdrop-level="2"],
.ac-select-target-4 .av_drop[data-dragdrop-level="2"] {
	background: #dff0ff;
}

/* Target Mode highlight of elements */
.ac-hover-target {
	cursor: crosshair;
}

.ac-hover-target.ac-drop[data-dragdrop-level="0"]:hover,
.ac-hover-target.ac-select-target-1 .ac-drop:hover[data-dragdrop-level="0"],
.ac-hover-target.ac-select-target-2 .ac-drop:hover[data-dragdrop-level="1"],
.ac-hover-target.ac-select-target-3 .ac-drop:hover[data-dragdrop-level="2"],
.ac-hover-target.ac-select-target-3 .ac-drop:hover[data-dragdrop-level="1"],
.ac-hover-target.ac-select-target-4 .ac-drop:hover[data-dragdrop-level="3"],
.ac-hover-target.ac-select-target-4 .ac-drop:hover[data-dragdrop-level="2"],
.ac-hover-target.ac-select-target-4 .ac-drop:hover[data-dragdrop-level="1"] {
	background: #f7fff2;
	border: 1px dashed #9acf57 !important;
}

/**
 * Sortable Elements Styles
 */
.ac-sortable-element {
	width: 98%;
	margin: 1%;
	color: #666;
	float: left;
	position: relative;

	&:hover {
		.ac-sorthandle {
			opacity: 1;
			z-index: 10;
		}
	}

	.ac-sorthandle {
		left: 0;
		right: 0;
	}

	.ac-inner-shortcode {
		padding: 10px;
		text-align: center;
		background: #fcfcfc;
		border: 1px solid #e1e1e1;
		border-top: none;
	}
}

.ac-sortable-element, .ac-layout-column {
	&:hover {
		z-index: 20;
	}
}

.ac-inner-shortcode {

	.ac-highlight,
	.ac-sortable-element {
		margin: 10px 1%;
	}

	.ac-element-label {
		margin-bottom: 5px;
		display: inline-block;
	}

	img {
		top: 6px;
		max-width: 100%;
		margin-right: 10px;
		position: relative;
		display: inline-block;
	}
}

/**
 * Sort-Handle Styles
 */
.ac-sorthandle {
	opacity: 1;
	z-index: 10;
	width: auto;
	height: 25px;
	font-size: 16px;
	position: relative;

	a {
		box-shadow: none;
		text-decoration: none;
	}

	.ac-element-title,
	.ac-column-size,
	.layout-element-icon {
		float: left;
		color: #999;
		@include ir();
		width: 25px;
		height: 25px;
		text-indent: inherit;
	}

	.ac-element-title {
		width: auto;
		padding: 0 8px;
		font-size: 12px;
		line-height: 25px;
		text-indent: inherit;
		@include transition(all .2s ease-in-out);
	}

	.ac-column-size {
		padding: 0 5px;
		font-size: 12px;
		line-height: 25px;
		text-align: center;
		text-indent: inherit;
		font-family: monospace;
		@include transition(all .2s ease-in-out);
	}

	.layout-element-icon {
		background: #eee;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;

		&:hover {
			color: #278ab7;
			background: #f8f8f8;
		}

		&.ac-decrease {
			border-left: none;

			&:before {
				@include icon_dashicons( "\f341" );
				line-height: 1.5;
			}
		}

		&.ac-increase {
			&:before {
				@include icon_dashicons( "\f345" );
				line-height: 1.5;
			}
		}
	}

	.edit-element-icon {
		color: #999;
		float: left;
		@include ir();
		width: 25px;
		height: 25px;

		&:hover {
			color: #278ab7;
		}

		&:before {
			@include icon( "\e009" );
			line-height: 1.5;
		}
	}

	.clone-element-icon {
		color: #999;
		float: left;
		@include ir();
		width: 25px;
		height: 25px;

		&:hover {
			color: #278ab7;
		}

		&:before {
			@include icon( "\e00a" );
			line-height: 1.5;
		}
	}

	.trash-element-icon {
		color: #999;
		float: right;
		@include ir();
		width: 25px;
		height: 25px;

		&:hover {
			color: #d54e21;
		}

		&:before {
			@include icon_dashicons( "\f158" );
			line-height: 1.5;
		}
	}
}

/**
 * Shortcode layout Styles
 */
.ac-layout-column  {

	&.ac-first-column {
		clear: left;
	}

	> .ac-inner-shortcode {
		top: -5px;
		min-height: 35px;
		position: relative;
		background: #f8f8f8;
		border: 1px dashed #e1e1e1;
		padding: 20px 10px !important;
	}
}

.ac-layout-section {
	width: 98%;
	clear: both;

	> .ac-inner-shortcode {
		top: -5px;
		padding: 6px;
		background: #fff;
		min-height: 100px;
		position: relative;
		border: 1px solid #e1e1e1;
		border-top: none !important;
	}
}

.ac-layout-row {
	margin-bottom: 30px !important;

	.ac-inner-shortcode {
		padding: 0;
		clear: both;
		overflow: hidden;
	}

	.ac-layout-column {

		> .ac-inner-shortcode {
			top: 0;
		}
	}

	.ac-layout-cell {
		margin: 0;

		textarea {
			width: 85% !important;
		}

		.ac-fake-cellborder {
			right: -1px;
			height: 2000px;
			display: block;
			position: absolute;
			border-right: 1px dashed #e1e1e1;
			-webkit-backface-visibility: hidden;
		}

		> .ac-sorthandle {
			top: 5px;
			border: none;
			box-shadow: none;
			background: #fff;
			border-right: 1px solid #e1e1e1;
			border-bottom: 1px dashed #e1e1e1;
		}

		> .ac-inner-shortcode {
			border: none;
			background: #fff;
			border-right: 1px solid #e1e1e1;
		}

		&:last-child {

			.ac-fake-cellborder {
				display: none;
			}

			> .ac-sorthandle,
			> .ac-inner-shortcode {
				border-right: none;
			}
		}
	}

	.ac-cell {
		z-index: 20;
		position: absolute;
		right: 0;
		bottom: 0;
		@include transition-duration(0s);

		a {
			top: 18px;
			color: #7b7b7b;
			padding: 6px 10px;
			position: relative;
			text-align: center;
			text-decoration: none;
			border: 1px solid #e1e1e1;
			border-top: none !important;
			font-family: sans-serif !important;

			&:before {
				font-size: 16px;
				vertical-align: text-top;
				@include iconbeforedashicons( "\f228" );
			}

			&:hover,
			&:focus {
				color: #278ab7;
				box-shadow: none;
			}

			&:last-child {
				border-left: none;
			}

			&.add-cell-icon {
				&:before {
					content: "\f502";
				}
			}
		}
	}
}

.ac-highlight,
.ac-layout-column,
.ac-layout-section {
	margin: 1%;
	float: left;
	position: relative;
}

.ac-start-sorting .ac-first-column {
	clear: none;
}

/**
 * Additional Styles
 */
.ac-sorthandle a,
.ac-sortable-element .ac-sorthandle {
	@include transition(all .2s ease-in-out);
}

.ac-layout-column:hover a,
.ac-sortable-element:hover a,
.ac-layout-section:hover > .ac-sorthandle a {
	opacity: 1;
}

.ac-layout-column a:active {
	opacity: 0.3;
	outline: none;
}

/**
 * Row/Cell Modal Styles
 */
.ac-layout-row-modal {
	color: #888;
	margin-bottom: 10px;

	.ac-layout-row-modal-label {

		input {
			display: none;

			&:checked + .ac-layout-row-inner-label {
				color: #fff;
				background-color: $fresh-color;
			}
		}

		span {
			display: inline-block;
			border-right:1px solid #e1e1e1;

			span {
				padding: 15px;
				text-align: center;
				border: 1px solid #e1e1e1;
				border-right: none;
				box-sizing: border-box;
			}
		}

		.ac-layout-row-inner-label {
			width: 100%;

			&:hover {
				background: #f8f8f8;
			}
		}
	}
}

/**
 * Shortcode Specific Styles
 */
.ac-sortable-element.ac_sidebar {
	.ac-inner-shortcode {
		select {
			width: auto;
			margin-top: 10px;
		}
	}
}

/**
 * Post types
 */
table.wp-list-table {
	.column-thumb {
		width: 52px;
		text-align: center;
		white-space: nowrap
	}

	.column-name {
		width: 22%;
	}

	.column-portfolio_cat,
	.column-portfolio_tag,
	.column-portfolio_type {
		width: 11% !important;
	}

	.column-featured {
		width: 48px;
		text-align: left !important;
	}

	.manage-column.column-featured img {
		padding-left: 2px;
	}

	img {
		margin: 1px 2px;
	}

	.row-actions {
		color: #999;
	}

	td.column-thumb img {
		margin: 0;
		vertical-align: middle;
		width: auto;
		height: auto;
		max-width: 40px;
		max-height: 40px;
	}

	span.na {
		color: #999;
	}

	span.ac-image,
	span.ac-featured {
		@include ir();
		margin: 0 auto;

		&:before {
			@include icon_dashicons( "\f128" );
		}
	}

	span.ac-featured {
		margin: 0;
		cursor: pointer;

		&:before {
			content: "\f155";
		}

		&.not-featured {
			&:before {
				content: "\f154";
			}
		}
	}

	td.column-featured {
		span.ac-featured {
			font-size: 1.6em;
		}
	}
}

/**
 * Settings Styles
 */
table.ac_iconfonts {
	position: relative;

	td {
		vertical-align: middle;
		padding: 7px;
		line-height: 2em;
	}

	tr:nth-child(odd) {
		td {
			background: #f9f9f9;
		}
	}

	th {
		padding: 9px 7px !important;
		vertical-align: middle;
	}

	td.name {
		font-weight: 700;
	}

	.settings {
		text-align: right;
	}

	.radio,
	.default,
	.status {
		text-align: center;

		.tips {
			margin: 0 auto;
		}

		input {
			margin: 0;
		}
	}

	th.sort {
		width: 28px;
		padding: 0;
	}

	td.sort {
		padding: 0 7px;
		cursor: move;
		font-size: 16px;
		text-align: center;
		vertical-align: middle;

		&:before {
			content: "\f333";
			font-family: 'Dashicons';
			text-align: center;
			line-height: 1;
			color: #ccc;
			display: block;
			width: 17px;
			float: left;
			height: 100%;
		}
	}
}

img.help_tip {
	margin: 0 0 0 9px;
	vertical-align: middle;
}

.postbox img.help_tip {
	margin-top: 0px;
}

.postbox .axiscomposer-help-tip {
	margin: 0 0 0 9px;
}

.status-enabled,
.status-disabled {
	font-size: 1.4em;
	@include ir();
}

.status-enabled {
	&:before {
		@include icon_dashicons( "\f147" );
		color: $axiscomposer;
	}
}

.status-disabled {
	&:before {
		@include icon_dashicons( "\f335" );
		color: #ccc;
	}
}

.axiscomposer {

	h2.axis-nav-tab-wrapper {
		margin-bottom: 1em;
	}

	nav.axis-nav-tab-wrapper {
		margin: 1.5em 0 1em;
		border-bottom: 1px solid #ccc;
	}

	.subsubsub {
		margin: -8px 0 0;
	}

	.ac-admin-breadcrumb {
		margin-left: .5em;
	}

	#template div {
		margin: 0;

		p .button {
			float: right;
			margin-left: 10px;
			margin-top: -4px;
		}

		.editor {
			textarea {
				margin-bottom: 8px;
			}
		}
	}

	textarea[disabled="disabled"] {
		background: #DFDFDF !important;
	}

	table.form-table {
		margin: 0;
		position: relative;

		.select2-container {
			display: block;
			max-width: 350px;
		}

		.forminp-radio ul {
			margin: 0;
			li {
				line-height: 1.4em;
			}
		}

		textarea.input-text {
			height: 100%;
			min-width: 150px;
			display: block;
		}

		input.regular-input {
			width: 25em;
		}

		textarea.wide-input {
			width: 100%;
		}

		img.help_tip,
		.axiscomposer-help-tip {
			padding: 0;
			margin: -4px 0 0 5px;
			vertical-align: middle;
			cursor: help;
			line-height: 1;
		}

		span.help_tip {
			cursor: help;
			color: $blue;
		}

		th {
			position: relative;
			padding-right: 24px;
		}

		.select2-container {
			vertical-align: top;
			margin-bottom: 3px;
		}

		table.widefat th {
			padding-right: inherit;
		}

		th img.help_tip,
		th .axiscomposer-help-tip {
			margin: 0 -24px 0 0;
			float: right;
		}

		.wp-list-table .axiscomposer-help-tip {
			float: none;
		}

		fieldset {
			margin-top: 4px;

			img.help_tip,
			.axiscomposer-help-tip {
				margin: -3px 0 0 5px;
			}

			p.description {
				margin-bottom: 8px;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		.iris-picker {
			z-index: 100;
			display: none;
			position: absolute;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.2);

			.ui-slider {
				border: 0 !important;
				margin: 0 !important;
				width: auto !important;
				height: auto !important;
				background: none transparent !important;

				.ui-slider-handle {
					margin-bottom: 0 !important;
				}
			}
		}

		.colorpickpreview {
			padding: 3px;
			padding-left: 20px;
			border: 1px solid #ddd;
			border-right: 0;
		}

		.colorpick {
			border-left: 0;
		}

		.image_width_settings {
			vertical-align: middle;

			label {
				margin-left: 10px;
			}
		}
	}
}

.axiscomposer_page_ac-settings {
	h3.ac-settings-sub-title {
		font-size: 1.2em;
	}
}

#wp-excerpt-editor-container {
	background: #fff;
}

#postimagediv {
	img {
		max-width: 100%;
		border: 1px solid #d5d5d5;
	}
}

/**
 * Tooltips
 */
.tips {
	cursor: help;
	text-decoration: none;
}

img.tips {
	padding: 5px 0 0 0;
}

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
}

#tiptip_holder {
	&.tip_top {
		padding-bottom: 5px;

		#tiptip_arrow_inner {
			margin-top: -7px;
			margin-left: -6px;
			border-top-color: #333;
		}
	}

	&.tip_bottom {
		padding-top: 5px;

		#tiptip_arrow_inner {
			margin-top: -5px;
			margin-left: -6px;
			border-bottom-color: #333;
		}
	}

	&.tip_right {
		padding-left: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -5px;
			border-right-color: #333;
		}
	}

	&.tip_left {
		padding-right: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -7px;
			border-left-color: #333;
		}
	}
}

#tiptip_content,
.chart-tooltip,
.ac_error_tip {
	color: #fff;
	font-size: .8em;
	max-width: 150px;
	background: #333;
	text-align: center;
	border-radius: 3px;
	padding: .618em 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	code {
		padding: 1px;
		background: #888;
	}
}

#tiptip_arrow,
#tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

.ac_error_tip {
	max-width: 20em;
	line-height: 1.8em;
	position: absolute;
	white-space: normal;
	background: #d82223;
	margin: 1.5em 1px 0 -1em;
	z-index: 9999999;

	&:after {
		content: "";
		display: block;
		border: 8px solid #d82223;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		top: -3px;
		left: 50%;
		margin: -1em 0 0 -3px;
	}
}

/**
 * Help Tip
 */
.axiscomposer-help-tip {
	color: #666;
	display: inline-block;
	font-size: 1.1em;
	font-style: normal;
	height: 16px;
	line-height: 16px;
	position: relative;
	vertical-align: middle;
	width: 16px;

	&:after {
		@include icon_dashicons( "\f223" );
		cursor: help;
	}
}

/**
 * System Status
 */
table.ac_status_table {
	margin-bottom: 1em;

	h2 {
		font-size: 14px;
		margin: 0;
	}

	tr {
		&:nth-child(2n) {
			th,
			td {
				background: #fcfcfc;
			}
		}
	}

	th {
		font-weight: 700;
		padding: 9px;
	}

	td:first-child {
		width: 33%;
	}

	td.help {
		width: 1em;
	}

	td {
		padding: 9px;
		font-size: 1.1em;

		mark {
			background: transparent none;
		}

		mark.yes {
			color: $green;
		}

		mark.no {
			color: #999;
		}

		mark.error {
			color: $red;
		}

		ul {
			margin: 0;
		}
	}

	.help_tip {
		cursor: help;
	}
}

#debug-report {
	display: none;
	margin: 10px 0;
	padding: 0;
	position: relative;

	textarea {
		font-family: monospace;
		width: 100%;
		margin: 0;
		height: 300px;
		padding: 20px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		resize: none;
		font-size: 12px;
		line-height: 20px;
		outline: 0;
	}
}

#log-viewer-select {
	padding: 10px 0 8px;
	line-height: 180%;
}

#log-viewer {
	textarea {
		width: 100%;
		resize: vertical;
	}
}

/**
 * Utility classes
 */
.clear {
	clear: both;
}

.wrap.axiscomposer div.updated,
.wrap.axiscomposer div.error {
	margin-top: 10px;
}

/**
 * Clearfix
 */
.clearfix, #axiscomposer-pagebuilder,
.ac-layout-column > .ac-inner-shortcode,
.ac-layout-section > .ac-inner-shortcode {
	@include clearfix();
}

/**
 * Small screen optimisation
 */
@media only screen and (max-width: 1280px) {
	.axiscomposer_options_panel {
		.description {
			display: block;
			clear: both;
			margin-left: 0;
		}

		.short,
		input[type="text"].short,
		input[type="email"].short,
		input[type="number"].short,
		input[type="password"].short,
		.dimensions_field .wrap {
			width: 80%;
		}
	}
}

/**
 * Optimisation for screens 900px and smaller
 */
@media only screen and (max-width: 900px) {

	#axiscomposer-pagebuilder ul.ac-tabs.horizontal li,
	#axiscomposer-portfolio-data ul.ac-tabs.vertical {
		width: 10%;
	}

	#axiscomposer-portfolio-data .axiscomposer_options_panel,
	#axiscomposer-portfolio-data .axiscomposer-metaboxes-wrapper {
		width: 90%;
	}

	#axiscomposer-pagebuilder,
	#axiscomposer-portfolio-data {
		ul.ac-tabs li a {
			position: relative;
			text-indent: -999px;
			padding: 10px;

			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				text-indent: 0;
				text-align: center;
				line-height: 40px;
				width: 100%;
				height: 40px;
			}
		}
	}
}

/**
 * Optimisation for screens 782px and smaller
 */
@media only screen and (max-width: 782px) {
	#wp-excerpt-media-buttons a {
		font-size: 16px;
		line-height: 37px;
		height: 39px;
		padding: 0 20px 0 15px;
	}

	#wp-excerpt-editor-tools {
		padding-top: 20px;
		padding-right: 15px;
		overflow: hidden;
		margin-bottom: -1px;
	}

	#axiscomposer-pagebuilder .checkbox {
		width: 25px;
	}
}

/**
 * Optimisation for screens 500px and smaller
 */
@media only screen and (max-width: 500px) {
	.axiscomposer_options_panel label,
	.axiscomposer_options_panel legend {
		float: none;
		width: auto;
		display: block;
		margin: 0;
	}

	.axiscomposer_options_panel fieldset.form-field,
	.axiscomposer_options_panel p.form-field {
		padding: 5px 20px 5px 20px !important;
	}
}

/**
 * Select2
 */
.select2-drop {
	z-index: 999999 !important;
}
.select2-container-multi .select2-choices .select2-search-field input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 3px 5px;
	width: 100% !important;
}
.select2-container {
	line-height: 1.85em;
	font-size: 14px;
}
