/**
 * axiscomposer-layout.scss
 * Applies layout to the default AxisComposer frontend design
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling Begins
 */
.axisbuilder, .axisbuilder-page {

	/**
	 * General Layout Styles
	 */
	&.flex-column {
		float: left;
		position: relative;
		min-height: 1px;
		margin-left: 6%;
		margin-bottom: 20px;

		&.first {
			clear: left;
			margin-left: 0;
		}

		&.one-half {
			width: flexgrid(1,2);
		}

		&.one-third {
			width: flexgrid(1,3);
		}

		&.two-third {
			width: flexgrid(2,3);
		}

		&.one-fourth {
			width: flexgrid(1,4);
		}

		&.three-fourth {
			width: flexgrid(3,4);
		}

		&.one-fifth {
			width: flexgrid(1,5);
		}

		&.two-fifth {
			width: flexgrid(2,5);
		}

		&.three-fifth {
			width: flexgrid(3,5);
		}

		&.four-fifth {
			width: flexgrid(4,5);
		}
	}
}

/**
 * Container Styles
 */
.container {
	clear: both;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
}

/**
 * Color-Section Styles
 */
.ac-section {
	width: 100%;
	clear: both;
	float: left;
	position: static;
	min-height: 100px;

	/* Section Padding */
	&.section-padding-none {
		.content, .sidebar {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&.section-padding-small {
		.content, .sidebar {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}


	&.section-padding-large {
		.content, .sidebar {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}

/**
 * Light Shadow Styles
 */
.ac-shadow {
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/**
 * Special Border
 */
.ac-extra-border-element {
	width: 100%;
	overflow: hidden;
	position: relative;

	&.border-extra-arrow-down {
		position: relative;
		width: 50px;
		height: 25px;
		left: 50%;
		margin-left: -26px;
		margin-top: -1px;
		z-index: 25;
		margin-bottom: -25px;
		clear: both;

		.arrow-wrap {
			overflow: hidden;
			height: 100%;
			width: 100%;
			position: absolute;
		}

		.arrow-inner {
			position: absolute;
			top: -39px;
			left: 50%;
			width: 50px;
			height: 50px;
			-webkit-transform: translateX(-50%) rotate(45deg);
			transform: translateX(-50%) rotate(45deg);
		}
	}
}
