/**
 * axiscomposer.scss
 * Governs the general look and feel of AxisComposer sections of shortcodes using themes that do not
 * integrate with AxisComposer specifically.
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";
@import "animation";
@import "fonts";

/**
 * Utility classes
 */
.clear {
	clear: both;
}

/**
 * Align Styles
 */
.ac-left {
	text-align: left;
}
.ac-right {
	text-align: right;
}
.ac-center {
	text-align: center;
}

/**
 * Text Block
 */
.ac-textblock {
	clear: both;
	line-height: 1.5em;
}

/**
 * Special Heading
 */
.ac-special-heading {

	.ac-subheading,
	.ac-special-heading-tag {
		margin: 0;
	}

}
