/**
 * colors.scss
 * Color Scheme for AxisBuilder.
 */

/**
 * Imports
 */
@import "variables";

.admin-color-light {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $light-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $light-color;
			}
		}
	}
}

.admin-color-blue {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $blue-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $blue-color;
			}
		}
	}
}

.admin-color-coffee {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $coffee-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $coffee-color;
			}
		}
	}
}

.admin-color-ectoplasm {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $ectoplasm-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $ectoplasm-color;
			}
		}
	}
}

.admin-color-midnight {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $midnight-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $midnight-color;
			}
		}
	}
}

.admin-color-ocean {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $ocean-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $ocean-color;
			}
		}
	}
}

.admin-color-sunrise {
	#axisbuilder-editor, .axisbuilder {
		ul.axisbuilder-tabs.horizontal li.active {
			&:after {
				background-color: $light-color;
			}
		}
	}

	.axisbuilder-layout-row-modal {
		.axisbuilder-layout-row-modal-label {
			input:checked + .axisbuilder-layout-row-inner-label {
				background-color: $sunrise-color;
			}
		}
	}
}
