/**
 * sidebars.scss
 * Styles applied to Custom Widgets Area Builder
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "animation";
@import "modal";

/**
 * Styling begins
 */
.modal-animation {
	@include animation( modal .3s $ease-out-back );
}

.axiscomposer-add-sidebar {
	padding: 10px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0, 1px 0, 0, rgba( 0, 0, 0, 0.04 );

	input[type=text] {
		max-width: 25em;
		margin: 0 0 15px;
		padding: 5px 10px;
		line-height: 19px;
		vertical-align: top;
	}
}

.axiscomposer-delete-sidebar {
	color: #aaa;
	z-index: 100;
	font-size: 16px;
	text-decoration: none;
	@include position(absolute, 15px 45px null null);

	&:before {
		@include iconbefore( "\e009" );
		margin-right: 0;
	}

	&:hover {
		color: #d54e21;
		cursor: pointer;
	}
}
