/**
 * menu.scss
 * Backbone Modal Dialog
 */

/**
 * Imports
 */
@import "bourbon";

/**
 * Styling begins
 */
.axisbuilder-backbone-modal {
	* {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	.axisbuilder-backbone-modal-content {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 500px;
		background: #fff;
		margin: -150px 0 0 -250px;
		z-index: 160000;
	}
}

.axisbuilder-backbone-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 159900;
}

.axisbuilder-backbone-modal-main {
	padding-bottom: 50px;

	header,
	article {
		display: block;
		position: relative;
		padding: 4px 16px;
	}

	.axisbuilder-backbone-modal-header {
		background: #fcfcfc;
		border-bottom: 1px solid #ddd;

		h1 {
			font-size: 16px;
			font-weight: 700;
			line-height: 42px;
			margin: 0;
		}
	}

	.modal-close-link {
		cursor: pointer;
		color: #777;
		background-color: transparent;
		height: 50px;
		width: 50px;
		padding: 0;
		position: absolute;
		text-align: center;
		border: 0;
		border-left: 1px solid #ddd;
		-webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
		transition: color .1s ease-in-out,background .1s ease-in-out;
		top: 0;
		right: 0;
		text-decoration: none;

		&:hover {
			background: #ddd;
			border-color: #ccc;
			color: #000;
			outline: 0;
			text-decoration: none;
		}

		.close-icon {
			display: block;
			height: 15px;
			background-image: none;
			text-align: center;
			margin: 14px;
			width: 22px;

			&:before {
				content: '\f335';
				font-size: 22px;
				font: 400 20px/1 dashicons;
				speak: none;
				vertical-align: middle;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #666;
			}
		}
	}

	article {
		padding: 10px 16px;

		.pagination {
			padding: 10px 0 0;
			text-align: center;
		}
	}

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 30px;
		z-index: 100;
		padding: 10px 0px;
		border: 0 solid #dfdfdf;
		border-width: 1px 0 0 0;
		box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);
	}

	footer .inner {
		padding: 0 10px;
		text-align: right;
	}
}
