/**
 * activation.scss
 * Styles applied to elements displayed on activation
 */

/**
 * Imports
 */
@import "bourbon";

/**
 * Styling begins
 */
.axisbuilder-message {
	position: relative;
	border-left-color: #2ea2cc !important;
	overflow: hidden;

	.twitter-share-button {
		margin-left: 3px;
		margin-top: -3px;
		vertical-align: middle;
	}
}

p.axisbuilder-actions,
.axisbuilder-message {

	a.button-primary,
	a.button-secondary {
		text-decoration:none !important;
	}

	a.skip,
	a.docs {
		opacity: 0.5;

		&:hover, &:focus {
			opacity: 1;
		}
	}

	.twitter-share-button {
		margin-left: 3px;
		margin-top: -3px;
		vertical-align: middle;
	}
}

p.axisbuilder-actions {
	margin-bottom: 1em !important;
}
