/**
 * axisbuilder-layout.scss
 * Applies layout to the default AxisBuilder frontend design
 */

/**
 * Imports
 */
@import "bourbon";
@import "mixins";
@import "variables";

/**
 * Styling begins
 */
.axisbuilder, .axisbuilder-page {

	/**
	 * General Layout styles
	 */
	&.flex-column {
		float: left;
		position: relative;
		min-height: 1px;
		margin-left: 6%;
		margin-bottom: 20px;

		&.first {
			clear: left;
			margin-left: 0;
		}

		&.one-half {
			width: flexgrid(1,2);
		}

		&.one-third {
			width: flexgrid(1,3);
		}

		&.two-third {
			width: flexgrid(2,3);
		}

		&.one-fourth {
			width: flexgrid(1,4);
		}

		&.three-fourth {
			width: flexgrid(3,4);
		}

		&.one-fifth {
			width: flexgrid(1,5);
		}

		&.two-fifth {
			width: flexgrid(2,5);
		}

		&.three-fifth {
			width: flexgrid(3,5);
		}

		&.four-fifth {
			width: flexgrid(4,5);
		}
	}
}

/**
 * Color section styles
 */
.axisbuilder-section {
	width: 100%;
	clear: both;
	float: left;
	position: static;
	min-height: 100px;
}

.container {
	clear: both;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
}
